<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            <p class="paragraph-text justify-text">
                안녕하세요! 소리로 특별한 경험을 만드는 사운드 디자이너 이영훈입니다.  
                사용자에게 깊은 몰입감을 선사하는 인터랙티브 사운드 디자인에 강점이 있습니다.
            </p>
            <p class="paragraph-text justify-text">
                
            </p>
            <p class="paragraph-text justify-text">
                
            </p>
        </div>
    </section>
</div>
